<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccd.opms.mapper.ProcessDesignMapper">

    <update id="updatePD">
        update opms_process_design pd
        set pd.blank_size = #{blankSize},pd.model_id = #{modelId},pd.model_diameter = #{modelDiameter},
            pd.model_number = #{modelNumber},pd.status = #{status}
        <where>
            pd.design_data_id = #{designDataId}
        </where>
    </update>


    <select id="findPage" resultType="com.ccd.opms.entity.ProcessDesign">

        SELECT
        *
        FROM
        opms_process_design pd left join opms_design_data dd
        on
        pd.design_data_id = dd.design_data_id and dd.del_flag = 0
        left JOIN temp_process_template pt ON pd.process_template_id = pt.process_template_id
        <where>
            <if test="query.status != null  and query.status != ''"> and pd.status = #{query.status}</if>
            <if test="query.createBy != null  and query.createBy != ''"> and pd.create_by like concat('%', #{query.createBy}, '%')</if>
            <if test="query.lensLeft != null  and query.lensLeft != ''"> and dd.lens_left = #{query.lensLeft}</if>
            <if test="query.lensRight != null  and query.lensRight != ''"> and dd.lens_right = #{query.lensRight}</if>
            <if test="query.partsName != null and query.partsName != ''"> and dd.parts_name like concat('%', #{query.partsName}, '%')</if>
            <if test="query.partsType != null "> and dd.parts_type = #{query.partsType}</if>
            <if test="query.templateName != null and query.templateName != ''"> and pt.template_name like concat('%', #{query.templateName}, '%')</if>
            <if test="query.begin != null and begin != ''"><!-- 开始时间检索 -->
                and date_format(pd.create_time,'%y%m%d') &gt;= date_format(#{query.beginTime},'%y%m%d')
            </if>
            <if test="query.end != null and end != ''"><!-- 结束时间检索 -->
                and date_format(pd.create_time,'%y%m%d') &lt;= date_format(#{query.endTime},'%y%m%d')
            </if>
        </where>
        ORDER BY pd.create_time DESC
    </select>

    <select id="getDetail" resultType="com.ccd.opms.entity.ProcessDesign">

        SELECT * FROM opms_process_design pd left join opms_design_data dd
        on pd.design_data_id = dd.design_data_id and dd.del_flag = 0
        left JOIN temp_process_template pt ON pd.process_template_id = pt.process_template_id
        <where>
            pd.process_design_id = #{id}
        </where>

    </select>


</mapper>
